.hero{
    position:relative;
    text-align: center;
    color: #fff;
    padding:70px;
}

h1{
    font-size: 25px;
    text-align: center;
}
.product-interfaces{
    display: flex;
    justify-content: space-around;
    padding: 40px;
}
.product-interfaces img{
    max-width: 200px;
    border-radius: 5px;
    margin: 1em;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
 
}
.cta-button{
    background-color: #27ae60;
    color: #fff;
    padding: 0 5em 1em;
    font-size: 1em;
    border: none;
    border-radius: 5px;
    transition:background-color 0.3s ease;
    cursor: pointer;
}
.cta-button:hover{
    background-color: #218c54;

}

@media screen and (max-width:600px){
    hero{
        flex-direction: column;
        align-items: center;
    }
    
    img{
        flex-direction: column;
        align-items: center;
    }
    h1{
       text-align: center;
    }
}
.service-items{
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 1.5em;
    margin-bottom: 1.5em;

}
h3{
    color: #333;
    margin-bottom: 1em;
}
img:hover{
    transform: scale(1.2);
}
#home{
    height: 60vh;
    text-align: center;
}
.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    top: 50%;
    /* left: 50%; */
    transform: translate(-50% -50%);
}
#about{
    height: 80vh;
}
#service{
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
    top: 70%;
    /* left: 50%; */
    transform: translate(-50% -50%);
}
#contact{
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    text-align: center;
    position: relative;
}

@media screen and (max-width:500px){
    .product-interfaces img{
        height: 100px;
    }
    #about{
        height: 100vh;
    }
    
}